<!DOCTYPE html>
<html>
  <head>
    <title>Mod2PracticeCampingIsFun</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <%= link_to "All Campers", campers_path %>
    <%= link_to "All Activities", activities_path %>
    <%= link_to "Signup A Current Camper to an Activity", new_signup_path %>
    <%= link_to "Create a New Camper!", new_camper_path %>
  </body>
</html>
